.take_meals_opt{
	display:block;
  width:150px;
  height:100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
	color:white; /*#3e3e3e;*/
	background: cadetblue; /*#53b7e8;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left;
}

.add{
	display:block;
  width:150px;
  height:100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
	color:white; /*#3e3e3e;*/
	background: seagreen; /*#53b7e8;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left;
}




.delay {
  display:block;
  width:150px;
  height:100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
	color:white; /*#3e3e3e;*/
	background: #53b7e8; /*#53b7e8;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left;
}

.flanger {
  display:block;
  width:150px;
  height:100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
	color:white; /*#3e3e3e;*/
	background: crimson; /*#53b7e8;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left;
}


.flanger-parameters {
  display:block;
  width:300px;
  height:50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
  text-transform: uppercase;
	color:white; /*#3e3e3e;*/
	background:crimson; /*#7cb289;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left; 
}

.delay-parameters {
  display:block;
  width:300px;
  height:50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
  text-transform: uppercase;
	color:white; /*#3e3e3e;*/
	background: #53b7e8; /*#7cb289;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left; 
}


.submit {
  display:block;
  width:200px;
  height:50px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px; 
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
  text-transform: uppercase;
	color:white; /*#3e3e3e;*/
	background: cadetblue; /*#53b7e8;*/
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
  float: left; 
}


.title{
  display:inline-block;
  font-family:'Arial';
  color:white;
  Background:rgba(30,30,30,0.5);
  /* padding:10px 25px 10px 25px; */
  /* margin:50px 20px 5px 5px; */
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

body{
  /* background:url("http://ntkanit.com/projects/thaimeals.com/images/slide1_bg.jpg"); */
}

table, th, td {
  
  border-collapse: collapse;
}

img {
  max-width:80%;
  max-height:80%;
  /* width: 200px;
  width: 300px; */
}



/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  max-width: 120%;
  /* width: 400px; */
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}