<!-- hardcoded -->

<table style="width:50%; height: 80%;">

    <tc>
        <td>
            <h3 class="title">Pick sample:</h3>
        </td>
    </tc>

    <tc>


        <td>
            <a href="/?sample=sample2&html_for=AE">
                <div class="take_meals_opt">Door (1 sec)</div>
            </a>
        </td>

        <td>
            <a href="/?sample=sample3&html_for=AE">
                <div class="take_meals_opt">Punch (1 sec)</div>
            </a>
        </td>

        <td>
            <a href="/?sample=sample4&html_for=AE">
                <div class="take_meals_opt">Guitar (9 sec)</div>
            </a>
        </td>

    </tc>


</table>